body {
  background-color: lightpink;
  display: flex;
  flex-direction: column; /* Ensures elements are stacked vertically */
  justify-content: center; /* Centers elements vertically */
  align-items: center; /* Centers elements horizontally */
  height: 80vh; /* Full viewport height */
}
h1 {
  text-align: center;
  color: red;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adds spacing between buttons */
  margin-top: 20px;
}

.tenor-gif-embed {
  max-width: 200px;
}
